.bodyInfo {
    width: 960px;
    height: 520px;
    margin: 0 auto;
}

.about {
    color: #000;
    font-family: Merienda;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 80px;
}

.blac {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 29.302px;
    height: 29.302px;
    flex-shrink: 0;
}

h3 {
    color: #000;
    text-align: center;
    font-family: Merienda;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
}

.info-body {
    width: 589px;
    height: 223px;
    margin: 0 auto;
}